name: Plugin Quality Check & Conditional Deploy

on:
  push:
    tags:
      - "v*"

# Needed so the workflow can push tags
permissions:
  contents: write

jobs:
  plugin-check:
    name: Run Plugin Quality Check
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run WordPress Plugin Check
        id: check
        uses: wordpress/plugin-check-action@v1
        with:
          build-dir: './'
          exclude-directories: |
            vendor
            third-party
            node_modules
          categories: |
            plugin_repo
            security
          strict: true

      - name: Summary
        if: success()
        run: echo "✅ Plugin Check passed."

      - name: Summary (failure)
        if: failure()
        run: |
          echo "❌ Plugin Check failed — ($(git tag -l | tail -n 1)) tag will be deleted."
          git tag -d $(git tag -l | tail -n 1)  # delete the tag from the local repository
          git push origin :$(git tag -l | tail -n 1)  # delete the tag from the remote repository
          echo "Tag deleted successfully"
